
<li>
	{{burger_name}}

	<button class="change-devoured btn btn-success" data-id="{{id}}" data-burger="{{devoured}}">
		{{#if devoured}}Devour!{{else}}Make a burger!{{/if}}
	</button>

	<button class="delete-burger btn btn-danger" data-id="{{this.id}}">Delete!</button>
</li>
