
<li>
	{{burger_name}}

	<button class="change-devoured" class="btn btn-primary" data-id="{{id}}" data-burger="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Make a burger!{{/if}}
	</button>

	<button class="delete-burger" class="btn btn-primary" data-id="{{this.id}}">DELETE!</button>
</li>
